<div class="dog">
  <h1>It's a dog</h1>
  <form>
    <select name="bread" id="bread-select">
      <% @breeds.each do |breed| %>
        <option value="<%= breed.name %>" data-sub-type="<%= breed.sub_type %>"><%= breed.full_name %></option>
      <% end %>
    </select>
    <div id="image-container" style="margin-top: 15px;">
    </div>
  </form>
</div>
